<nav class="navbar navbar-dark bg-primary cls-navbar px-4">
  <!-- Navbar content -->
  
  <h6 (click)="togleSideBar()">
    <i class="fa fa-bars"></i>
    EduFree</h6>
  <button type="button" class="btn btn-light" >Cerrar sesión</button>
</nav>

<div class="cls body-container d-flex flex-row">
  <div class="cls-sidebar-app" [ngClass]="{'cls-animate-sidebar-open':openSideBar}">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100%;">
      <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Panel</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item" routerLink="programas-en-oferta">
          <a class="nav-link active cls-item-menu" aria-current="page">
            Programas en oferta
          </a>
        </li>
        <li>
          <a class="nav-link text-white cls-item-menu " routerLink="admin-usuarios">
            Admin usuarios
          </a>
        </li>
        <li>
          <a class="nav-link text-white cls-item-menu " routerLink="registro">
            Registro
          </a>
        </li>
        <li>
          <a class="nav-link text-white cls-item-menu " routerLink="registro-programas">
            Registro de Programas
          </a>
        </li>
        <li>
          <a class="nav-link text-white cls-item-menu " routerLink="asignatura">
            Registro Asignaturas
          </a>
        </li>
        <li>
          <a class="nav-link text-white cls-item-menu " routerLink="grupos">
            Registro de Grupos
          </a>
        </li>
        <li>
          <a class="nav-link text-white cls-item-menu " routerLink="calificaciones">
            Registro de Calificaciones
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="cls body-app">

    <router-outlet></router-outlet>
  </div>

</div>

<footer class="bg-light text-center text-lg-start cls-footer">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">mintic.com</a>
  </div>
  <!-- Copyright -->
</footer>