<nav class="navbar navbar-dark bg-primary cls-navbar px-4">
    <!-- Navbar content -->
    <h6>EduFree</h6>
    <button type="button" class="btn btn-light"
    routerLink="programas-en-oferta">Ver Programas en oferta</button>
  </nav>

<div>
<router-outlet></router-outlet>
</div>

<footer class="bg-light text-center text-lg-start cls-footer">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">mintic.com</a>
    </div>
    <!-- Copyright -->
  </footer>