<div class="p-4">

    <section class="d-flex flex-row mb-4">

        <button type="button" class="btn btn-primary me-3" (click)="iniciarAdicion()">Tipo</button>
        <select class="custom-select" id="inputGroupSelect01">
            <option disabled>Tipo de Usuario</option>
            <option value="1">Administrador</option>
            <option value="2">Estudiante</option>
            <option value="3">Docente</option>
        </select>

    </section>

    <section class="mb-4">

        <form [formGroup]="formUsuarios" class="d-flex flex-row mb-4">
            <div class="form-group me-3">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="nombreHelp" formControlName="nombre">
            </div>
            <div class="form-group me-3">
                <label for="exampleInputEmail1">Apellidos</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="apellidosHelp" formControlName="apellidos">
            </div>
              
            <div class="form-group me-3">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email" formControlName="correo">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            
            <button *ngIf="modoCrud == 'adicion'" (click)="crearUsuarios()"
            class="btn btn-primary cls-boton-guardar">Confirmar adición</button>
        <button *ngIf="modoCrud == 'edicion'" (click)="editarUsuarios()" class="btn btn-primary cls-boton-guardar">Confimar
            edición</button>        </form>

    </section>


    <section>

        <table class="table table-striped table-hover">
            <thead>

                <td>Nombre</td>
                <td>Apellidos</td>
                <td>Correo</td>
                <td>Acciones</td>
            </thead>

            <tbody>
                <tr *ngFor="let usuarios of listaUsuarios">
                    <td>
                        {{usuarios.nombre}}
                    </td>
                    <td>
                        {{usuarios.apellidos}}
                    </td>
                    <td>
                        {{usuarios.correo}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary me-3"
                        (click) = "iniciarEdicion(usuarios)"
                        >Editar</button>
                        <button type="button" class="btn btn-danger" (click)="eliminarUsuario(usuarios)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </section>

</div>