<div class="container p-5 cls-login">

    <img src="/assets/images/Fondo-Login.jpg" alt="" class="cls-images-bg">

    <div class="row  cls-container-form">
        <div class="col">

            <h1>{{titulo}}</h1>
            <form [formGroup]="formLogin">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Usuario</label>
                    <input type="email" autocomplete="off" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    formControlName="codigo">
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"
                    formControlName="password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Aceptar términos y condiciones</label>
                </div>
                <button [disabled]="!formLogin.valid" type="submit" class="btn btn-primary"
                (click) = "mostrarInfo()"
                >Ingresar</button>
            </form>
        </div>
    </div>
</div>